<h3>Listado de Peliculas</h3>
 
        
<span><input type="checkbox" @bind="_mostrarBotones"/>Mostrar Botones Data bind generico</span>


<ListadoGenerico Listado="Peliculas">
    <Cargando>
        <div>Cargando...</div>
    </Cargando>
    <Registro>
        <PeliculaIndividual pelicula=context rol="_mostrarBotones" EliminarPelicula=@Eliminar></PeliculaIndividual>
    </Registro>
    <Vacio>
        <div>No hay peliculas</div>
    </Vacio>
</ListadoGenerico>
          
        
@code {

    [Parameter]
    [EditorRequired]
    public List<Pelicula>? Peliculas { get; set; }

    bool _mostrarBotones = true;

    [Parameter]
    public RenderFragment? Cargando { get; set; }
    [Parameter]
    public RenderFragment? Vacio { get; set; }
    private void Eliminar(Pelicula item)
    {
        Peliculas?.Remove(item);
    }

}