<h3>Listado de Peliculas</h3>
 
        <span><input type="checkbox" @onchange="() => _mostrarBotones=!_mostrarBotones"/>Mostrar Botones</span>
        <span><input type="checkbox" @bind="_mostrarBotones"/>Mostrar Botones</span>
<ListadoGenerico Listado="Peliculas">
    <Registro>
         <PeliculaIndividual pelicula=context rol="_mostrarBotones" EliminarPelicula=@Eliminar></PeliculaIndividual>
    </Registro>
</ListadoGenerico>
          
        
@code {

    [Parameter]
    [EditorRequired]
    public List<Pelicula>? Peliculas { get; set; }

    bool _mostrarBotones = true;

    [Parameter]
    public RenderFragment? Cargando { get; set; }
    [Parameter]
    public RenderFragment? Vacio { get; set; }
    private void Eliminar(Pelicula item)
    {
        Peliculas?.Remove(item);
    }

}