<h3>Listado de Peliculas</h3>
 @if (Peliculas is null)
    {
       <img src="https://media.tenor.com/On7kvXhzml4AAAAi/loading-gif.gif" alt="Cargando"/>
    }else if(Peliculas.Count == 0)
    {
        <h2>No hay peliculas</h2>
    }
    else
    {   
        <span><input type="checkbox" @onchange="() => _mostrarBotones=!_mostrarBotones"/>Mostrar Botones</span>
        <span><input type="checkbox" @bind="_mostrarBotones"/>Mostrar Botones</span>
        @foreach (var pelicula in Peliculas)
        {
           <PeliculaIndividual pelicula=pelicula rol="_mostrarBotones"/>
        }
    }
@code {
    [Parameter]
    [EditorRequired]
    public List<Pelicula>? Peliculas { get; set; }
    bool _mostrarBotones  = true;
    
}