
 <div>
                <p> Titulo: <b>@((MarkupString)pelicula.Titulo)
                @if (DateTime.Today.Subtract(pelicula.FechaLanzamiento).Days < 1200)
                {
                    <span style="color: red"> ¡NUEVO!</span>
                }
                </b>
                </p>
     <p> Fecha de Lanzamiento: @pelicula.FechaLanzamiento.ToString("dd MM yyyy")</p>
     @if (rol)
     {
       <div>
                <button @onclick="@((() => EliminarPelicula.InvokeAsync(pelicula)))">Borrar</button>
            </div>  
     }
     
            </div>
@code {
    [Parameter]
    [EditorRequired]
    public Pelicula pelicula { get; set; }=null!;
    [Parameter]
    public bool rol { get; set; }
    
    void Eliminar()
    {
        Console.WriteLine("Borrando "+pelicula.Titulo);
    }
    [Parameter]
    public EventCallback<Pelicula> EliminarPelicula { get; set; }
}